@inherits InputViewBase<bool, CheckBoxField>

@if (!Field.IsEffectivelyBlank)
{
    <div class="d-flex flex-column">

        <MudCheckBox Label="@EffectiveLabel"
            Value="@Field.Value.Value"
            ValueChanged="@(EventUtil.AsNonRenderingEventHandler<bool>(
                async (val) => await Field.Value.SetValue(val)))"
            Size="@Size.Small"
            Dense
            Error="@(!string.IsNullOrEmpty(Field.ValidationMessage))"
            Disabled="@Field.IsDisabled"
            Style="user-select: none;" />

        @if (!string.IsNullOrEmpty(Field.ValidationMessage))
        {
            <MudText Typo="@Typo.body2" Color="@Color.Error">@Field.ValidationMessage</MudText>
        }

    </div>
}