@inherits InputViewBase<string, TextBoxField>

@if (!Field.IsEffectivelyBlank)
{
    <div class="d-flex flex-column">

        <MudTextField Label="@EffectiveLabel"
            T="string"
            Value="@Field.Value.Value"
            ValueChanged="@Field.Value.SetValue"
            Variant="@Variant.Outlined"
            Margin="@Margin.Dense"
            Error="@(!string.IsNullOrEmpty(Field.ValidationMessage))"
            Disabled="@Field.IsDisabled"
            OnBlur="@(() => { /*Redraw*/ })" />

        @if (!string.IsNullOrEmpty(Field.ValidationMessage))
        {
            <MudText Typo="@Typo.body2" Color="@Color.Error">@Field.ValidationMessage</MudText>
        }

    </div>
}