@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<CascadingValue TValue="IFormRegion" Value="@topLevel">

    <div style="display: flex;
                flex-direction: row;">
    
        <CascadingValue TValue="IFormRegion" Value="@leftArea">
            <div>

                <InputCheckbox Value="@leftArea.IsVisible"
                    ValueExpression="@(() => leftArea.IsVisible)"
                    ValueChanged="@leftArea.SetIsVisible" />

                <TextBoxView />

            </div>
        </CascadingValue>

        <CascadingValue TValue="IFormRegion" Value="@rightArea">
            <div>

                <InputCheckbox Value="@rightArea.IsVisible"
                    ValueExpression="@(() => rightArea.IsVisible)"
                    ValueChanged="@rightArea.SetIsVisible" />

                <TextBoxView />

            </div>
        </CascadingValue>

    </div>

</CascadingValue>

@code {
    private FormRegion topLevel, leftArea, rightArea;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        topLevel = new(null, topLevel: true);
        leftArea = new(topLevel);
        rightArea = new(topLevel);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await topLevel.Initialize();
        }
    }
}