@page "/"
@inject HomeVm vm

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (vm.Loading)
{

    <center>
        <MudProgressCircular Indeterminate Color="@Color.Primary" />
    </center>

} else
{

    <div class="d-flex flex-row gap-2 my-3">
        <div>

            <CheckBoxView Field="@vm.LeftCheck" />

            <FormRegionView Region="@vm.LeftArea">

                <TextBoxView Field="@vm.LeftField" />

            </FormRegionView>

        </div>

        <div>

            <CheckBoxView Field="@vm.RightCheck" />

            <FormRegionView Region="@vm.RightArea">

                <TextBoxView Field="@vm.RightField" />

            </FormRegionView>

        </div>
    </div>

    <NamedValueTable NamingContext="@vm.TopLevel.NamingContext" />

}

@code {
    private async Task Redraw()
    {
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            vm.StateChanged += Redraw;

            await vm.Initialize();
        }
    }
}