@page "/"
@inject HomeVm vm

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (!loading)
{
    <div class="d-flex flex-row gap-2 my-3">
        <div>

            <CheckBoxView Field="@vm.LeftCheck" />

            <TextBoxView Field="@vm.LeftField" />

        </div>
        <div>

            <CheckBoxView Field="@vm.RightCheck" />

            <TextBoxView Field="@vm.RightField" />

        </div>
    </div>

    <NamedValueTable NamingContext="@vm.TopLevel.NamingContext" />
}

@code {
    private bool loading = true;

    private async Task Redraw()
    {
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await vm.Initialize();

        await vm.LeftField.SetValue("Hello, world!");
        await vm.RightField.SetValue("Foo bar");

        vm.StateChanged += Redraw;

        loading = false;
    }
}