@page "/"
@inject HomeVm vm

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (!loading)
{
    <div class="d-flex flex-row gap-2 mt-3">
        <div>

            <InputCheckbox Value="@vm.LeftArea.IsVisible"
                ValueExpression="@(() => vm.LeftArea.IsVisible)"
                ValueChanged="@vm.LeftArea.SetIsVisible" />

            <TextBoxView Field="@vm.LeftField" />

        </div>
        <div>

            <InputCheckbox Value="@vm.RightArea.IsVisible"
                ValueExpression="@(() => vm.RightArea.IsVisible)"
                ValueChanged="@vm.RightArea.SetIsVisible" />

            <TextBoxView Field="@vm.RightField" />

        </div>
    </div>
}

@code {
    private bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        await vm.Initialize();
        loading = false;
    }
}